<md-toolbar color="accent">
  <i class="material-icons" routerLink="/home">home</i>&nbsp;|&nbsp;&nbsp;<span routerLink="/home" style="cursor: pointer">Home</span>
  <span class="example-spacer"></span>
  <md-icon class="example-icon">verified_user</md-icon>
</md-toolbar>

<md-card>
  <md-card-content>
    
      There are sevaral steps to add a new Item. Please add data in following step and save it at the end.
   
  </md-card-content>
  <md-card-content>
    <button md-raised-button color="accent" (click)="onNext();">Next</button>
  </md-card-content>
</md-card>
