.mat-raised-button.mat-accent {
  width: 48%!important;
}

.material-icons.orange600 {
  color: #ff4081;
}

.material-icons.md-24 {
  font-size: 24px;
}

.input-form {
  margin: 40px 20px 0;
  width: 100%;
}
