.example-spacer {
  flex: 1 1 auto;
}

.input-form {
  margin: 40px 20px 0;
  width: 100%;
}

.mat-raised-button.mat-accent {
  width: 100%!important;
}

.img-header {
  background-size: cover;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
